@import './../../styles/_variable.scss';

.header {
    height: 80px;
    width: 100%;
    padding: 0 24px;
    border-radius: 40px;
    background-color: $bg-white;
    box-shadow: $shadow;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .header-options {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $bg-gray;
                padding: 8px;
                border-radius: 100%;
                font-size: 27px;
                margin: 0 8px;
                color: $text-light;
            }
        }
    }
}