@import './../../styles/variable';

.input {
    outline: none;
    border: none;
    background-color: $bg-gray;
    padding: 12px;
    border-radius: 32px;
    color: $text-secondary;
    min-width: 250px;
}

.input-wrapper {
    position: relative;

    .input-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        color: $text-secondary;
        font-size: 20px;
    }
}