.bottom-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;

    &-first {
        margin-left: 16px;
    }

    &-last {
        &:first-child {
            margin-bottom: 16px;
        }
    }

    &-img {
        border-radius: 16px;
    }
}