// background colors
$bg-white : #ffffff;
$bg-gray : #F7F7F7;
$bg-danger-gradient: linear-gradient(252.18deg, #D72339 0.28%, #F23B51 93.8%);
$bg-light-pink: #FFE9EE;

// shadows
$shadow: 0px 0px 24px rgba(189, 182, 183, 0.25);

// text
$text-primary: #212121;
$text-secondary: #333;
$text-gray: #4F4F4F;
$text-light: #7D7D7D;
$text-lighter: #BDBDBD;

// font weight
$extra-bold: 900;
$bold: 700;
$normal: 500;
$light: 400;
$lighter: 300;