@import "./font/index.css";
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: IRANSansX !important;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

.mt-16{
  margin-top: 16px;
}