.top-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;

    &-item {
        border-radius: 10px;
    }

    &-card {
        height: 373px;
        max-width: 282px;
        width: 100%;
    }
}