.top-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;

    &-swiper {
        width: 100%;
        height: 100%;
        width: 902px !important;
    }

    &-small-swiper {
        width: 282px;
    }

    &-item {
        border-radius: 10px;
    }


    &-card {
        height: 373px;
        max-width: 282px;
        width: 100%;
    }
}